<% provide(:title, "About") %>

<!-- Page Header -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h2 class="pull-left">About Kahu</h2>
      <div class="header-controls pull-right">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Article Content -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <p>Kahu is a service that manages replica servers on an experimental
       network. It's primary functionality is to allow configurations to
       be created and updated across multiple machines from a central
       location without having to update each individually. The service also
       provides API endpoints to monitor the health of the network.</p>

    <p>This minimalistic about page will presumably be updated with more
       content if the application requires it.</p>

  </div>
</div>
