{% extends 'dashboard.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
<!-- breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'overview' %}">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Overview</li>
</ol>
{% endblock %}

{% block dashboard %}
  <!-- status cards -->
  <div class="row">

    <!-- replicas under management -->
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-info o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-sitemap"></i>
          </div>
          <div class="mr-5">
            {{ status.active }} Active
          </div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'replicas' %}?active=true">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

    <!-- active replicas -->
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-heartbeat"></i>
          </div>
          <div class="mr-5">
            {{ status.online }} Online
          </div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'replicas' %}?health=online">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

    <!-- online replicas -->
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-warning"></i>
          </div>
          <div class="mr-5">
            {{ status.unresponsive }} Unresponsive
          </div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'replicas' %}?health=unresponsive">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

    <!-- offline replicas -->
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-medkit"></i>
          </div>
          <div class="mr-5">
            {{ status.offline }} Offline
          </div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'replicas' %}?health=offline">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

  </div><!-- end status cards -->

  <!-- replica map-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-map"></i> Geographic Replication</div>
    <div class="card-body">
      <div id="map" style="width: 100%; min-height: 450px;"></div>
    </div>
    <div class="card-footer small text-muted">GeoIP provided by MaxMind</div>
  </div><!-- end replica map-->
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <!-- replica map script -->
  <script>
    var map = null;
    var markers = {{ markers|safe }};

    function initMap() {
      map = new geo.Map("#map")
      map.add_markers(markers)
    }
  </script>

  <!-- google maps javascript -->
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script async defer src="//maps.google.com/maps/api/js?key={{ google_maps_api }}&callback=initMap"></script>
  <script src="{% static 'js/geo.js' %}"

{% endblock %}
