<div class="modal fade" id="apikeyModal" tabindex="-1" role="dialog" aria-labelledby="apikeyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="apikeyModalLabel">Replica API Key</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" value="<%= @machine.apikey %>" readonly>
                  <span class="input-group-btn">
                    <button class="btn btn-default pbcopy" type="button" title="Copy to Clipboard">
                      <%= icon(:copy) %>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <p>Use the above API Key in client requests from the replica by adding the key to the header of the HTTP request using the <kbd>X-Api-Key</kbd> header value.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
