<div class="modal fade" id="addReplicaModal" tabindex="-1" role="dialog" aria-labelledby="addReplicaModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addReplicaModalLabel">Add a Replica Process</h4>
      </div>
      <div class="modal-body">
        <%= render 'replicas/form' %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="new_replica">Create Replica</button>
        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
