# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 3a29c8524779686ee03ed4584589705857bb42144d30fdab82118dcc6fe84005076fc8581fc871cb0366ede46c25ec479a957e60516621ff5a5b29c7a0d09780
  geoip2_api_user: <%= ENV["GEOIP2_API_USER"] %>
  geoip2_api_key: <%= ENV["GEOIP2_API_KEY"] %>
  google_maps_api: <%= ENV["GOOGLE_MAPS_API_KEY"] %>

test:
  secret_key_base: 4826c1e2c6d63e99a3c153fb2f867feb66d1f3031b0f73f071fbbd8d8525d4281208c7ec5ba8bd5a9893cd008a67396a88d57b30b969abfbda0b2f9cac7dd14d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  geoip2_api_user: <%= ENV["GEOIP2_API_USER"] %>
  geoip2_api_key: <%= ENV["GEOIP2_API_KEY"] %>
  google_maps_api: <%= ENV["GOOGLE_MAPS_API_KEY"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  smtp_password: <%= ENV["SMTP_PASSWORD"] %>
  smtp_username: <%= ENV["SMTP_USERNAME"] %>
