@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

html,
body {
    height: 100%;
}

body {
    padding-top: 66px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

/* wrapper */

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -106px;
    padding: 0 0 146px;
}

/* navbar */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #ECF0F1;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* footer */

footer {
    padding: 30px 15px;
    font-size: 16px;
    border-top: 1px solid #BDC3C7;
    background-color: #ECF0F1;
}

footer p {
    margin: 0;
}

#footerStatus {
    font-size: 12px;
}

/* page headers */

.header-controls {
    margin-top: 24px;
}

/* tables */
.clickable-row {
    cursor: pointer;
}
