<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- left footer column -->
      <div class="col-xs-6">
        <nav>
          <ul class="list-unstyled list-inline">
            <li><%= link_to "About", about_path %></li>
            <li><a href="https://github.com/bbengfort/"><%= icon('github') %></a></li>
            <li><a href="https://twitter.com/bbengfort/"><%= icon('twitter') %></a></li>
          </ul>
        </nav>
      </div>

      <!-- right footer column -->
      <div class="col-xs-6">
        <p class="text-right text-muted">
          <small>Made with &spades; by <a href="https://github.com/bbengfort/">@bbengfort</a></small>
        </p>
        <p class="text-right text-muted">
          <small><span id="footerStatus"><i class="fa fa-circle"></i></span> Kahu API</small>
        </p>
      </div>
    </div>
  </div>
</footer>
